d#0
  | [you] stumble upon a clearing in the forest.
  | A beam of sunlight shines through the open canopy — illuminating a peculiar looking statue down below.
  d(if='untarnished') The stone is covered with vines and leaves, its shape masked by the vegetation.
    d(next= 1) Remove foliage
    d(next=10) Leave
  d(if='cleared', next=2)
  d(if='desecrated') The shattered remains of what was once a shrine to Phallus lie in front of you.
    d(next=10) Leave

d#1(then='clear')
  | You pull on the vines, slowly revealing more of the statue.
  | Quickly realizing the thing you're looking at is a massive 6 foot cock! Standing tall and erect with two boulder-like balls.
  d(next=2)

d#2
  | The 6 foot statue depicting an erect cock stands tall in front of you. Its boulder-like balls firmly planted in the ground.
  |
  | There is a metal plaque at the base of the shaft which reads:
  | "Blessed be those who submit themselves to Phallus"
  d(next= 3) Pray
  d(next= 4) Desecrate
  d(next=10) Leave

d#3 [you] get on your knees and pray to the shrine.
  d(then='bless')

d#4 [you] push against the statue with all your might and with some effort manage to topple it over. The stone shattering as it falls to the ground with a loud thump.
  d(then='anger')




d#10(then='exit')
  | EXIT