{{#unless hideStats}}
  <div class="player">
    <span class="name">{{player.name}} <span class="nowrap">[LVL {{player.stats.lvl}}]</span></span>

    {{> stat-bar
        class="health"
        label="HP"
        current=player.currentHP
        max=player.maxHP
        percentage=player.healthBar}}

    {{> stat-bar
        class="lust"
        label="Lust"
        current=player.currentLust
        max=player.maxLust
        percentage=player.lustBar}}
  </div>

  <div class="opponent">
    <span class="name">{{enemy.name}} <span class="nowrap">[LVL {{enemy.stats.lvl}}]</span></span>

    {{> stat-bar
        class="health"
        label="HP"
        hidden=true
        percentage=enemy.healthBar}}

    {{> stat-bar
        class="lust"
        label="Lust"
        hidden=true
        percentage=enemy.lustBar}}
  </div>
{{/unless}}
