doctype html
html
  head
    title SubDomain
    style(type="text/css").
      html,
      body {
        background-color: #191c2b;
        padding: 0;
        margin: 0;
      }
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
    meta(name="theme-color", content="#191c2b")
    meta(name="mobile-web-app-capable", content="yes")