@import './variables';

.combat {
  .static {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: @font-size;
  }

  .player,
  .opponent {
    max-width: 45vw;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;

    @media (max-width: 516px) {
      min-width: 50%;

      &.opponent {
        margin-left: 16px;
      }
    }
  }

  .name {
    text-transform: capitalize;
    border-bottom: 2px solid @light;
    margin-bottom: 4px;
    white-space: nowrap;
  }
}