@import './variables';

.combat {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
  font-size: @font-size;

  //hide bars on final screen
  .combat-end & {
    display: none;
  }

  .player,
  .opponent {
    max-width: 45vw;
    min-width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
  }

  .name {
    text-transform: capitalize;
    border-bottom: 2px solid @light;
    margin-bottom: 4px;
    white-space: nowrap;
  }
}