@import "./variables";

.combat {
  .static {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    align-items: flex-start;
    margin-bottom: 20px;
    font-size: @font-size;
  }

  .player,
  .opponent {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    overflow: hidden;
  }

  .name {
    text-transform: capitalize;
    border-bottom: 2px solid @color-foreground;
    margin-bottom: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
