@import './variables';

.dialogue,
.static {
  cursor: default;
  user-select: auto;

  p {
    margin-top: 0;

    &::first-letter {
      text-transform: uppercase;
    }

    &:empty {
      display: none;
    }
  }

  p, blockquote {
    margin: 0 0 @font-size 0;
  }

  b {
    color: #fff;
    font-weight: normal;
  }

  q,
  blockquote {
    font-style: italic;

    &::before {
      content: '“';
    }
    &::after {
      content: '”';
    }

    //hides the quotation marks until there is content inside of them, this is needed by the typing animation
    &:empty{
      &::before,
      &::after {
        content: '';
      }
    }
  }

  .block {
    vertical-align: top;
    display: inline-block;
    margin-right: 36px;
    width: 260px;
  }
}