@import "./variables";

html,
body {
  background-color: @color-background;
  color: @color-foreground;
  padding: 0;
  margin: 0;
  user-select: none;
  font-family: @font-family-default;
  font-size: @font-size;
  min-height: 100vh;
}

html {
  background-color: @color-off-stage;
}

body {
  box-sizing: border-box;
  max-width: 800px;
  margin: 0 auto;
  padding: @spacing;

  @media (min-width: 800px) {
    & {
      padding: @spacing * 10;
    }
  }

  &.error {
    display: flex;
    align-items: center;
    justify-content: center;
    color: @color-error;
  }

  & > * {
    transition: opacity 1s linear;
  }

  &.fade > * {
    opacity: 0;
  }
}

.nowrap {
  white-space: nowrap;
}

.cool-typewriter-empty {
  display: none;
}

#app-version {
  position: fixed;
  bottom: 4px;
  right: 4px;

  a {
    color: @color-version;
    font-size: 12px;
    font-family: monospace;
    text-decoration: none;

    &:hover {
      color: @color-version-hover;
    }
  }
}

#app-container {
  margin-bottom: @font-size;
  padding: 0;
}

@import "./dialogue";
@import "./stat";
@import "./debug";
