@import url('https://fonts.googleapis.com/css?family=Londrina+Shadow|Source+Code+Pro');

@font-family-default: 'Source Code Pro', monospace;
@font-family-title: 'Londrina Shadow', monospace;

@font-size: 14pt;
@spacing: 4px;

@dark: #191c2b;
@light: #0f0;